<div class="container-fluid">
    <div class="row" id="navbar">
        <div class="col-sm-3">
            <img src="../../assets/img/car-logo.png" alt="car-logo" id="logo">
        </div>
        
        <div class="col-md-6">
            <div id="title-container">
                <span id="title">
                    <p>a</p><p>b</p><p>r</p><p>a</p><p>t</p><p>e</p>
                    <p class="blank">_</p>
                    <p>c</p><p>a</p><p>r</p>
                    <p class="blank">_</p>
                    <p>r</p><p>e</p><p>n</p><p>t</p><p>a</p><p>l</p>
                </span>
            </div>
        </div>
    
        <div class="col-md-3">
            <div id="back-menu-container">
                <button id="btn-back-menu" (click)="showMenu()">
                    <img src="../../assets/img/back-arrow.png" alt="back" id="back-arrow">
                </button>    
                <span>back to menu</span>
            </div>
        </div>
    </div>
</div>
