/* You can add global styles to this file, and also import other style files */
body::-webkit-scrollbar {
    display: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-width: 0;
    min-height: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

/* animations */
@keyframes word-drop{
    0%{
        transform: translateY(0);
    }
    25%{
        transform: translateY(0.5rem);
    }
    50%{
        transform: translateY(0);
    }
    75%{
        transform: translateY(0.5rem);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes car-run{
    0%{
        transform: translateX(0);
    }
    80%{
        transform: translateX(1200%);
    }
    85%{
        transform: translateX(-50%);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-in{
    0%{
        transform: translateY(-1000%);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-out{
    0%{
        transform: translateY(0);
        opacity: 1;
    }
    100%{
        transform: translateY(-1000%);
        opacity: 0;
    }
}

@keyframes appear{
    0%{
        scale: 0.5;
        opacity: 0;
    }
    100%{
        scale: 1;
        opacity: 1;
    }
}

@keyframes disappear{
    0%{
        scale: 1;
        opacity: 1;
    }
    100%{
        scale: 0.5;
        opacity: 0;
    }
}

@keyframes fog-in{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes card-pop{
    0%{
        transform: scale(0.5) translate(0%, 0%);
        opacity: 0;
    }
    100%{
        transform: scale(1) translate(-50%, -50%);
        opacity: 1;
    }

}


.animation-in{
    animation: fade-in 1s ease-in-out;
}

.animation-out{
    animation: fade-out 1s ease-in-out;
}

.animation-appear{
    animation: appear 0.5s ease-in-out;
}

.animation-disappear{
    animation: disappear 0.5s ease-in-out;
}

.animation-fog-in{
    animation: fog-in 0.5s ease-in-out;
}

.animation-card-pop{
    animation: card-pop 0.5s ease-in-out;
}

.hide{
    visibility: hidden;
}